html {
    font-size: 10px;
    font-family: Helvetica, arial, sans-serif;
}

body {
    margin: 0;
}

input:focus {
    outline: none;
    border: 2px solid currentColor;
}

.wrap {
    /* height: 100%;
    width: 100%; */
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu__list {
    list-style: none;
}

.btn,
.menu__list--link {
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
}

.menu--horizontal {
    display: flex;
}

.menu--horizontal .menu__list {
    padding-right: 10px;
}

.menu--vertical {
    display: block;
}

.background-fixed-fullscreen {
    display: flex;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 1;
}

